:root {
  --purple: #ab7dce;
  --light-purple: #cb9fe5;
  --light-gray: #D5D5D5;
  --dark-gray: #333333;
  --off-white: #f3f5e9;
  --black: #000000;
  --white: #ffffff;
}

* {
  font-family: arial;
  font-weight: bold;
}

body {
  background-color: var(--dark-gray)
}

button {
  background-color: var(--light-purple);
  border-radius: 6px;
  border-color: var(--off-white);
  
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-gray);
  text-align: center;
  padding: 0px;
  border-radius: 6px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
}

.menubar {
  background-color: var(--purple);
  padding: 10px;
}

.menubar a {
  background-color: var(--purple); 
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
}

.menubar a:hover {
  background-color: var(--light_purple); 
}


.menubar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menubar > button {
  padding: 10px 20px;
  text-wrap: none;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-purple);
  border-style: outset;
  border-radius: 6px;
}

.tag > label {
  font-size: 14px;
}

.tag > button {
  border-style: none;
}

.tag > button > :hover {
  background-color: var(--light-gray);
}

.dynamictagsmenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}

.dynamictagsmenu > button {
  min-width: 75px;
  height: 30px;
}

.dynamictagsmenu > :hover, .div > button:hover {
  background-color: var(--light-gray);
}

input {
  height: 23px; 
  resize: none;
  align-content: center;
}

.griddisplay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.follow-button {
  background-color: gray; 
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 6px;
  border: outset;
  margin-bottom: 10px;

  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;

  font-weight: bold;
}

.user-pfp {
  border-radius: 6px;
  margin: 10px
}

.userCardName {
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0px;
}